<mat-toolbar color="primary" class="header-content">
  <div class="header-title">
    <button mat-icon-button class="menu-button" aria-label="menu icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Rotina de treinos</span>
  </div>
  <div class="header-buttons">
    <span class="example-spacer"></span>
    <button mat-icon-button class="favorite-button favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="share-button" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </div>
</mat-toolbar>